button{
    background-color: blue;
    color: aliceblue;
    padding: 30px 70px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 7px black;
}

button:hover{
    cursor: pointer;
    background-color: rgba(0, 0, 255,0.5);
}

li:nth-child(2n){
    color: red;
}

li:nth-child(2n-1){
    color: blue;
}

input{
    border: none;
    outline: none;
    background-color: gold;
    padding: 10px;
    border-radius: 5px;
}

input::placeholder{
    color: black;
}

input:focus::placeholder{
    transform:translate(-12px);
    transition: transform .5s;
}
